body {
    background-color: black;
}

.title {
    position: absolute;
    left: 150px;
    width: 300px;
}

#niveau_grid {
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);

    width: fit-content;
    margin: auto;

    margin-bottom: 30px;
}

.mur {
    background-image: url("/images/mur.gif");
}

.sol {
    background-image: url("/images/sol.gif");
}

.bonbon {
    background-image: url("/images/bonbon.gif");
}

.player {
    background-image: url("/images/pacman4.gif")
}