@font-face {
  font-family: PacMan_font;
  src: url(font/crackman.ttf);
}

body {
    background: url(/images/background.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    position: absolute;
    left: 110px;
    width: 400px;
}

.score {
    margin-top: 50px;
    color: #fff;
    position: absolute;
    left: 150px;
    top: 125px;
    width: 300px;
    text-align: center;
    font-size: 35px;
    font-family: pacfont;
}

.score div {
    margin-top: -30px;
    font-size: 90px;
    font-family: PacMan_font;
}

.score_precedent {
    position: absolute;
    top: 450px;
    left: 130px;
    color: #fff;
    font-size: 25px;
    font-family: pacfont;
    text-align: center;
}

.score_precedent div {
    text-align: center;
    font-size: 80px;
    font-family: PacMan_font;
}

#nombre_fantome {
    position: absolute;
    right: 170px;
    top: 250px;
    width: 200px;
    font-size: 40px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input::placeholder {
    font-size: 25px;
}

#valider_nb_fantome {
    position: absolute;
    right: 170px;
    top: 325px;
    width: 208px;
    font-size: 40px;
    font-family: PacMan_font;
}

.choissisez_nb_fantome {
    position: absolute;
    right: 15px;
    top: 50px;
    color: #fff;
    font-size: 50px;
    font-family: PacMan_font;
    text-align: center;
}

#restart {
    position: absolute;
    font-family: pacfont;
    width: 300px;
    height: 100px;
    font-size: 30px;
    bottom: 150px;
    left: 150px;
}

#niveau_grid {
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);

    width: fit-content;
    margin: auto;

    margin-bottom: 30px;
    margin-top: 50px;
}

.mur {
    background-image: url("/images/mur.gif");
}

.sol {
    background-image: url("/images/sol.gif");
}

.bonbon {
    background-image: url("/images/bonbon.gif");
}

.player {
    background-image: url("/images/pacman4.gif")
}

.fantome_0 {
    background-image: url("/images/fantome0.gif");
}

.fantome_1 {
    background-image: url("/images/fantome1.gif");
}

.fantome_2 {
    background-image: url("/images/fantome2.gif");
}

.fantome_3 {
    background-image: url("/images/fantome3.gif");
}